services:
  mysql:
    image: mysql:8
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: GooglePhotosClone
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3307:3306"
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-proot" ]
      interval: 5s
      timeout: 5s
      retries: 20

  backend:
    build: ./backend
    container_name: backend
    depends_on:
      mysql:
        condition: service_healthy
    volumes:
      - ./backend:/var/www/html
      # Exclude these to prevent permission issues
      - backend_vendor:/var/www/html/vendor
      - backend_storage:/var/www/html/storage
    environment:
      APP_ENV: local
      APP_DEBUG: "true"
      DB_CONNECTION: mysql
      DB_HOST: mysql
      DB_PORT: 3306
      DB_DATABASE: GooglePhotosClone
      DB_USERNAME: root
      DB_PASSWORD: root
      APP_URL: http://192.168.1.31:8000
      FRONTEND_URL: http://192.168.1.31:3000
      SESSION_DOMAIN: 192.168.1.31
      SANCTUM_STATEFUL_DOMAINS: 192.168.1.31:3000
      SESSION_DRIVER: file
      SESSION_LIFETIME: 120
    expose:
      - "9000"
    networks:
      - laravel

  nginx:
    image: nginx:latest
    container_name: nginx
    depends_on:
      - backend
    volumes:
      - ./backend:/var/www/html
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "8000:80"
    networks:
      - laravel

  frontend:
    build: ./frontend
    container_name: frontend
    depends_on:
      - backend
    environment:
      NEXT_PUBLIC_API_URL: http://192.168.1.31:8000
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - /app/.next
    ports:
      - "3000:3000"

volumes:
  db_data:
  backend_vendor:
  backend_storage:


networks:
  laravel:
    driver: bridge
